* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    background-color: #FFF2E3;
}

h1 {
    margin-top: 20px;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:#FFF2E3;
    padding: 1rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.menu a {
    text-decoration: none;
    color: #CC681C;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}

h1 img {
    height: 80px;
    margin-bottom: 20px;
}

.capa {
    padding-top: 130px;
    background-image: url(img/Capa-fundo.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF2E3;
    font-size: 32px;
    padding-bottom: 100px;
}

.capa h1 {
    padding-left: 60px;
    padding-top: 70px;
    padding-bottom: 60px;
    font-weight: 600;
    line-height: 1;
    font-size: 200%;
}

.capa a {
    color: #FFF2E3;
    padding-left: 60px;
    padding-top: 5px;
}

.xicara {
    margin-top: -23%;
    position: relative;
    text-align: center;

}

.gatalogo {
    height: 615px;
    margin-top: -20px;
}

.gatalogo img {
    height: 100% auto;
}

.h1-gatalogo {
    text-align: center;
    margin-top: 125px;
    background-image: url(img/fundo-gatalogo.png);
    padding-top: 80px;
    padding-bottom: 86px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    color: #FFF2E3;
    font-size: 58px;
    font-family: "Coiny";
    font-weight: 100;
}

.gato-gatalogo {
    margin-top: -162px;
    margin-right: 80px;
    padding-bottom: 70px;
    position: relative;
    text-align: end
}

.gato-gatalogo2 {
    margin-left: 25%;
    padding-bottom: 10px;
    position: relative;
    margin-top: -318px;
}

.gato-loja {
    margin-top: -162px;
    position: relative;
    text-align: end;
    position: absolute;
    top: 0;
    right: 0;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.Produtos {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.titulo-produtos {
    font-size: 70px;
    font-weight: normal;
    color: #CC681C;
    font-family: "Coiny", system-ui;
    margin-left: 420px;
    padding-top: 10px;
    margin-top: -180px;
}

.gatos-produtos img {
    margin-top: -170px;
}

.titulo {
    font-size: 70px;
    font-weight: normal;
    color: #CC681C;
    font-family: "Coiny", system-ui;
    margin-left: 420px;
}

.titulo-quemsomos {
    font-size: 70px;
    font-weight: normal;
    color: #CC681C;
    font-family: "Coiny", system-ui;
    margin-left: -230px;
    padding-top: 15%;
}

.texto-quem-somos {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 40px;
    padding-top: 20px;
    text-align: start;
    font-size: 25px;
    margin-top: 20px;
    column-count: 2;
    column-gap: 50px;
    text-align: justify;
    color: #CC681C;
    margin-left: 75px;
    margin-right: 75px;
}

.fotos-gatos img {
    width: 90%;

}

.texto-quem-somos figcaption img:hover {
    transform: scale(1.5);
}

.texto-quem-somos figcaption {
    display: flex;
    color: #CC681C;
    align-items: center;
    padding-top: 35px;
}

.Iced-Coffe,
.Frappuccino,
.Macarons,
.Pankecat,
.salmaoduba,
.scrambled-cat,
.cheesecake,
.gatoccino {
    background-image: url(img/Iced-Coffe.png);
    width: 285px !important;
    padding-bottom: 166px;
    text-align: center;
    flex-wrap: wrap;
    display: flex !important;
    align-items: end;
    height: 526px;
    justify-content: space-evenly;
    color: #FFF2E3;
    background-repeat: no-repeat;
}

.Frappuccino {
    background-image: url(img/Frappuccino.png);
}

.Macarons {
    background-image: url(img/Macarons.png);
}

.Pankecat {
    background-image: url(img/Pankecat.png);
}

.salmaoduba {
    background-image: url(img/salmaoduba.png);
}

.scrambled-cat {
    background-image: url(img/scrambled-cat.png);
}

.cheesecake {
    background-image: url(img/cheesecake.png);
}

.gatoccino {
    background-image: url(img/gatoccino.png);
}

.coluna p {
    margin: 16px 30px 35px 30px;
}

.botao {
    background-color: #8597f6;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 60px;
    display: block;
    width: 214px;
    box-sizing: border-box;
    margin: 0px auto 25px auto;
}

.contato {
    margin-top: -4px;
    padding-top: 141px;
    padding-bottom: 141px;
    background-color: #CC681C;
    color: #FFF2E3;
    background-image: url(img/contato-textura.png);
    background-blend-mode: overlay;
    display: flex;
    padding-bottom: 141px;
    font-size: 25px;
    column-count: 2;
    padding-left: 60px;
    justify-content:space-evenly;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
   padding-right: 100px;
}

.contato-texto {
    padding-top: 50px;
}

.mapa iframe {
    border-radius: 20px;
}

.rodape {
    background-color: #3AA698;
    text-align: center;
    padding: 25px 573px 25px 573px;
    color: #FCB470;
}

.titulo-gatalogo {
    font-size: 70px;
    width: 100%;
    margin-top: -210px;
}

.gatos-produtos {
    height: 100px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quem-somos {
    text-align: center;
    background-color: #FCB470;
    background-size: cover;
    padding-left: 44px;
    padding-right: 44px;
}

.loja img {
    width: 100%;
    display: block;
}

.titulo-contato {
    font-size: 70px;
    font-weight: normal;
    color: #FFF2E3;
    font-family: "Coiny", system-ui;
}

.slick-prev:before,
.slick-next:before {
    font-size: 48px !important;
    color: #CC681C !important;
}

.slick-prev {
    left: -65px !important;
}

.gato-quem-somos {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: auto;
    position: relative;
}

.instagram,
.face {
    margin-right: 30px;
    height: 65px;
}