*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    background-color: #FFF2E3;
}

h1{
    padding-top: 50px;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu a{
    text-decoration: none;
    color: #CC681C;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 25px;
}

.capa{
    height: 1640px 815px;
    display: flex;
}

.banner{
    background-image: url(img/gatalogo1.png);
    background-size: cover;
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 44px;
}

.produtos{
    margin-top: 67;
}

.titulo{
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: #CC681C;
    font-family: "Coiny", system-ui;
}

.linha{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.Iced-Coffe{
    background-image: url(img/Iced-Coffe.png);
    width: 265px;
    padding-top: 380px;
    padding-right: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.Frappuccino{
    background-image: url(img/Frappuccino.png);
    width: 265px;
    padding-top: 630px;
    padding-right: 20px;
    text-align: center;
    flex-wrap: wrap;
}

.Macarons{
    background-image: url(img/Macarons.png);
    width: 265px;
    padding-top: 380px;
    padding-right: 20px;
    
}

.Pankecat{
    background-image: url(img/Pankecat.png);
    width: 265px;
    padding-top: 380px;
    padding-right: 20px;
    text-align: center;
}

.coluna p{
    margin: 16px 30px 35px 30px;
}

.botao{
    background-color: #8597f6;
    color:#fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 15px 60px;
    display: block;
    width: 214px;
    box-sizing: border-box;
    margin: 0px auto 25px auto;
}
 
.contato{
    margin-top: 189px;
}

.rodape{
    background-color: #3AA698;
    text-align: center;
    padding: 47px 573px 85px 573px;
    color: #FCB470;
}